@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
}

body {
  background-color: #f8fafc;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}
